$main-bg: #111;
$gray: #1111119E;
$light-gray:  #FFFFFF33;
$main-btn: #2C70DA;

$medium-gray: #FFFFFF0C;

$test: rgba(255, 255, 255, 0.05);

$text-gray: #FFFFFFB2;
$text-white: #fff;
$placeholder: #8D8D90;
