$main-bg: #111;
$gray: #1111119E;
$light-gray:  #FFFFFF33;
$main-btn: #2C70DA;
$task: #1D1D1D;
$card: #282828;
$field: #333333;
$border: #5C5C5C;

$medium-gray: #FFFFFF0C;

$text-gray: #FFFFFFB2;
$text-white: #fff;
$placeholder: #8D8D90;
$font-gray: #BABABA;
